<div class="flex flex-col justify-center items-center p-4 gap-4">
  <h2 class="font-bold text-xl">Password Generator</h2>

  <div class="flex flex-col">
    <label for="passwordLength">Length</label>
    <input
      type="number"
      id="passwordLength"
      min="4"
      placeholder="Enter desired password length"
      class="border p-1 w-55"
      [(ngModel)]="passwordLength"
    />
  </div>

  @if (passwordLength && (passwordLength < 4)) {
  <p class="text-red-500">Password length must be at least 4.</p>
  }

  <div class="flex flex-col gap-1">
    <div class="flex items-center gap-2">
      <input type="checkbox" id="isUsingLetters" [(ngModel)]="isUsingLetters" />
      <label for="isUsingLetters">Use Letters</label>
    </div>

    <div class="flex items-center gap-2">
      <input type="checkbox" id="isUsingNumbers" [(ngModel)]="isUsingNumbers" />
      <label for="isUsingNumbers">Use Numbers</label>
    </div>

    <div class="flex items-center gap-2">
      <input type="checkbox" id="isUsingSymbols" [(ngModel)]="isUsingSymbols" />
      <label for="isUsingSymbols">Use Symbols</label>
    </div>
  </div>

  <button
    (click)="generatePassword()"
    class="bg-blue-200 border border-blue-500 py-1 px-20 rounded w-55"
    [disabled]="!isAtLeastOneSelected"
    [class.opacity-50]="!isAtLeastOneSelected"
  >
    Generate!
  </button>

  @if (!isAtLeastOneSelected) {
  <p class="text-red-500">Please select at least one character type.</p>
  } @if (generatedPassword) {
  <div class="w-85">
    <p>Generated Password:</p>
    <p class="break-words">{{ generatedPassword }}</p>
  </div>
  }
</div>
